* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -100px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

.footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 100px; 
}
