
body{
	margin: 0px;
	padding: 0px;
}

section{
	width: 50%;
	float: left;
}

*{
	box-sizing: border-box;
}

#indicator{
	margin: 10px;
	
	height: 100px;
	/*postiion: absolute;
	margin-bottom: -130px;*/
	z-index: 0;
	background-color: #ff4136;
	color: white;
	padding: 15px;
	
	


}

.refresh-container{
	
	margin: 10px;
	border: solid 1px #3edc50;

	position: relative;
	background-color: #2ecc40;
	color: white;
	padding: 15px;
	min-height: 300px;
}

.info a,
.info a:active,
.info a:visited,
.info a:hover,
.info a:link
{
	color: #ffdc00;
}
.info{
	padding: 10px;
	border: #eee;
	border-radius: 5px;
	color: white;
	margin: 10px;
	background-color: #ff851b;
}
