
body{
	margin: 0px;
	padding: 0px;
	padding-top: 70px;

}

.pull2refresh-example{
	border: solid 1px #ddd;
	min-height: 300px;
	background-color: #eee;
	border-radius: 3px;
	position: relative;
	display: block;
}




*{
	box-sizing: border-box;
}



.feedback{
	display: block;
	position: relative;
	height: 50px;
	margin: 10px;
	margin-bottom: -60px;
	z-index: 200;

}

.p2r-style{
	cursor: pointer;
	min-height: 300px;
	border: solid 1px #999;
	background-color: #aaa;
	margin: 10px;
	position: relative;
	z-index: 2000;
}


@media screen and (min-width: 768px){
	.p2r{

		margin-left: 20px;
		margin-right: 20px;
	}
	
}


/*

.info a,
.info a:active,
.info a:visited,
.info a:hover,
.info a:link
{
	color: #ffdc00;
}
.info{
	padding: 10px;
	border: #eee;
	border-radius: 5px;
	color: white;
	margin: 10px;
	background-color: #ff851b;
}
*/